
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <h2 class="text-center">請先登入</h2>
    <div class="container"> 
        <form  method="post">
            <input class="form-control" type="text" id="txtName" name="txtName" placeholder="Please Enter Your Name" />
            <input class="form-control"  type="text" id="txtPwd" name="txtPwd" placeholder="Please Enter Your Password"/>
            <button class="btn btn-default">Login</button>
            <button class="btn btn-danger">Exit</button>
        </form>
    </div>
</body>
</html>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />